<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{name}} {{kind}} Reference</title>
    <link rel="stylesheet" type="text/css" href="{{path_to_root}}css/jazzy.css" />
    <link rel="stylesheet" type="text/css" href="{{path_to_root}}css/highlight.css" />
    <meta charset="utf-8">
    <script type="text/javascript">
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
      analytics.load("fl0c8p240n");
      analytics.page();
      }}();
    </script>
    <script src="{{path_to_root}}js/jquery.min.js" defer></script>
    <script src="{{path_to_root}}js/jazzy.js" defer></script>
    {{{custom_head}}}
  </head>
  <body>

    {{#dash_type}}
    <a name="//apple_ref/{{language_stub}}/{{dash_type}}/{{name}}" class="dashAnchor"></a>
    {{/dash_type}}

    <a title="{{name}} {{kind}} Reference"></a>

    {{> header}}

    <p class="breadcrumbs">
      <a class="breadcrumb" href="{{path_to_root}}index.html">{{module_name}} Reference</a>
      <img class="carat" src="{{path_to_root}}img/carat.png" />
      {{name}} {{kind}} Reference
    </p>

    <div class="content-wrapper">
      {{> nav}}
      <article class="main-content">

        <section class="section">
          <div class="section-content">
            {{^hide_name}}<h1>{{name}}</h1>{{/hide_name}}
            {{#declaration}}
              <div class="declaration">
                <div class="language">
                  {{{declaration}}}
                </div>
              </div>
            {{/declaration}}
            {{{overview}}}
          </div>
        </section>

        {{> tasks}}

      </article>
    </div>
    {{> footer}}
  </body>
</div>
</html>
