<nav class="navigation">
  <ul class="nav-groups">
    {{#structure}}
    <li class="nav-group-name" data-name="{{section}}">
      <a class="small-heading" href="{{path_to_root}}{{section}}.html">{{section}}<span class="anchor-icon" /></a>
      <ul class="nav-group-tasks">
        {{#children}}
        <li class="nav-group-task" data-name="{{name}}" data-url="{{url}}">
          <a title="{{name}}" class="nav-group-task-link" href="{{path_to_root}}{{url}}">{{name}}</a>
        </li>
        {{/children}}
      </ul>
    </li>
    {{/structure}}
  </ul>
</nav>
