Checks: >
    -*,
    android-*,
    boost-*,
    bugprone-*,
    clang-analyzer-core*
    clang-analyzer-cplusplus*,
    clang-analyzer-deadcode*,
    clang-analyzer-optin.cplusplus*,
    clang-analyzer-optin.performance.Padding,
    clang-analyzer-security*,
    clang-diagnostic-*,
    google-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -bugprone-macro-parentheses,
    -bugprone-narrowing-conversions,
    -google-build-using-namespace,
    -google-explicit-constructor,
    -google-readability-braces-around-statements,
    -google-readability-todo,
    -google-runtime-int,
    -google-runtime-references,
    -misc-non-private-member-variables-in-classes,
    -modernize-avoid-c-arrays,
    -readability-braces-around-statements,
    -readability-else-after-return,
    -readability-implicit-bool-conversion,
    -readability-magic-numbers,
    -readability-named-parameter,
    -readability-uppercase-literal-suffix

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file

CheckOptions:
  - key:   performance-unnecessary-value-param.AllowedTypes
    value: 'exception_ptr'
