.DS_Store
*.xcodeproj
*.o
*.actual.png
*.diff.png
*.pyc
/platform/android/debug
/platform/android/sdk
/platform/android/**/.classpath
/platform/android/**/.project
/platform/android/**/.settings/
/mason_packages
/config/*.gypi
/build
/lib
/ios/build
/ios/app/build
/test/build
/gyp/build
/gyp/java
/test/node_modules
/test/fixtures/*/*_actual.*
/test/fixtures/api/1.png
/test/fixtures/api/2.png
/test/fixtures/database/*.db
/test/fixtures/**/actual.png
/test/fixtures/**/diff.png
/test/output
/include/mbgl/shader/shaders.hpp
/src/shader/shaders_gl.cpp
/src/shader/shaders_gles2.cpp
/bin/style.bin.js
/node_modules
*~

/ios/benchmark/assets/tiles/mapbox.mapbox-terrain-v2,mapbox.mapbox-streets-v6/
/ios/benchmark/assets/glyphs/DIN Offc Pro*/

/platform/node/test/actual
/platform/node/test/diff
