.DS_Store
*.xcodeproj
*.o
/node_modules
/mapnik-packaging
/macosx/build
/ios/build
/config.gypi
/config.mk
/config/constants_local.cpp
/build
/bin/node_modules
/include/llmr/shader/shaders.hpp
/src/shader/shaders_gl.cpp
/src/shader/shaders_gles2.cpp
/bin/style.bin.js
