[submodule "platform/ios/uitest/KIF"]
	path = platform/ios/uitest/KIF
	url = https://github.com/kif-framework/KIF.git
[submodule "platform/ios/uitest/OHHTTPStubs"]
	path = platform/ios/uitest/OHHTTPStubs
	url = https://github.com/AliSoftware/OHHTTPStubs.git
[submodule "mapbox-gl-js"]
	path = mapbox-gl-js
	url = https://github.com/mapbox/mapbox-gl-js.git
