.DS_Store
.transifexrc
*.pyc
*.gcno
*.gcda
*~
offline.db
xcuserdata
/platform/node/test/actual
/platform/node/test/diff
/mason_packages
/build
/lib
/test/node_modules
/test/fixtures/*/*_actual.*
/test/fixtures/api/1.png
/test/fixtures/api/2.png
/test/fixtures/offline_database/offline.db
/test/fixtures/offline_database/offline.db-*
/test/fixtures/offline_database/invalid.db
/test/fixtures/offline_database/invalid.db-*
/test/fixtures/offline_database/migrated.db
/test/fixtures/offline_database/migrated.db-*
/test/fixtures/**/actual.png
/test/fixtures/**/diff.png
/test/output
/node_modules
/platform/ios/benchmark/assets/glyphs/DIN*
/platform/ios/benchmark/assets/tiles/mapbox.mapbox-terrain-v2,mapbox.mapbox-streets-v6
**/token
/platform/macos/macos.xcworkspace/xcshareddata/macos.xcscmblueprint
/platform/ios/ios.xcworkspace/xcshareddata/ios.xcscmblueprint
/documentation
test/fixtures/api/assets.zip
test/fixtures/storage/assets.zip
/.circle-week

# Generated list files from code generation
/scripts/generate-cmake-files.list
/scripts/generate-shaders.list
/scripts/generate-style-code.list