[submodule "mapbox-gl-js"]
	path = mapbox-gl-js
	url = https://github.com/mapbox/mapbox-gl-js.git
[submodule "platform/ios/vendor/mapbox-events-ios"]
	path = platform/ios/vendor/mapbox-events-ios
	url = https://github.com/mapbox/mapbox-events-ios.git
[submodule "vendor/nunicode"]
	path = vendor/nunicode
	url = https://bitbucket.org/alekseyt/nunicode.git
[submodule "vendor/earcut.hpp"]
	path = vendor/earcut.hpp
	url = https://github.com/mapbox/earcut.hpp.git
[submodule "vendor/geojson-vt-cpp"]
	path = vendor/geojson-vt-cpp
	url = https://github.com/mapbox/geojson-vt-cpp.git
[submodule "vendor/polylabel"]
	path = vendor/polylabel
	url = https://github.com/mapbox/polylabel.git
[submodule "vendor/protozero"]
	path = vendor/protozero
	url = https://github.com/mapbox/protozero.git
[submodule "vendor/shelf-pack-cpp"]
	path = vendor/shelf-pack-cpp
	url = https://github.com/mapbox/shelf-pack-cpp.git
[submodule "vendor/vector-tile"]
	path = vendor/vector-tile
	url = https://github.com/mapbox/vector-tile.git
[submodule "vendor/wagyu"]
	path = vendor/wagyu
	url = https://github.com/mapbox/wagyu.git
[submodule "vendor/expected-lite"]
	path = vendor/expected
	url = https://github.com/martinmoene/expected-lite.git
[submodule "vendor/unique_resource"]
	path = vendor/unique_resource
	url = https://github.com/okdshin/unique_resource.git
[submodule "vendor/icu"]
	path = vendor/icu
	url = https://github.com/unicode-org/icu.git
[submodule "vendor/boost"]
	path = vendor/boost
	url = https://github.com/mapbox/mapbox-gl-native-boost.git
[submodule "vendor/benchmark"]
	path = vendor/benchmark
	url = https://github.com/google/benchmark.git
[submodule "vendor/cheap-ruler-cpp"]
	path = vendor/cheap-ruler-cpp
	url = https://github.com/mapbox/cheap-ruler-cpp.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/eternal"]
	path = vendor/eternal
	url = https://github.com/mapbox/eternal.git
[submodule "platform/android/vendor/mapbox-gestures-android"]
	path = platform/android/vendor/mapbox-gestures-android
	url = https://github.com/mapbox/mapbox-gestures-android.git
[submodule "platform/android/vendor/mapbox-java"]
	path = platform/android/vendor/mapbox-java
	url = https://github.com/mapbox/mapbox-java.git
[submodule "platform/android/vendor/mapbox-events-android"]
	path = platform/android/vendor/mapbox-events-android
	url = https://github.com/mapbox/mapbox-events-android.git
[submodule "platform/darwin/docs/theme"]
	path = platform/darwin/docs/theme
	url = https://github.com/mapbox/jazzy-theme.git
[submodule "vendor/mapbox-base"]
	path = vendor/mapbox-base
	url = https://github.com/mapbox/mapbox-base.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/zip-archive"]
	path = vendor/zip-archive
	url = https://github.com/ZipArchive/ZipArchive.git
[submodule "vendor/cpp-httplib"]
	path = vendor/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "vendor/curl-android-ios"]
	path = vendor/curl-android-ios
	url = https://github.com/gcesarmza/curl-android-ios.git
