language: cpp

# http://docs.travis-ci.com/user/multi-os/
os:
 - linux
 - osx

compiler:
 - gcc
 - clang

env:
  matrix:
   - BUILDTYPE=Release
   - BUILDTYPE=Debug

cache:
- apt
- directories:
  - mapnik-packaging

before_install:
- source ./scripts/setup_travis.sh

install:
- make setup

before_script:
- rm -rf mapnik-packaging/out/packages

script:
- make linux BUILDTYPE=${BUILDTYPE}
- make run-tests BUILDTYPE=${BUILDTYPE}

notifications:
  hipchat:
    rooms:
      secure: "ZKtTiFjXgXfrAO8eMU1nJBe46OBLgk0H7VAVmk84QwAb6DuoqT+mGMs+1yrWtjLwZI8vayZyaucupp1siM7lBWCOADx5GXA6GCCLOuE7fYLSNJFrXHa1u70IUBLOU8b5bDWRn8tcd5CM754R609l4ckTzBH3y4CIh9YNFrB0b+g="
    template:
      - '%{repository}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}'

git:
  submodules: false
