language: cpp

compiler:
 - gcc
 - clang

before_install:
- sudo add-apt-repository --yes ppa:ubuntu-toolchain-r/test
- sudo apt-get update -qq
- sudo apt-get -y install gcc-4.8 g++-4.8
- sudo apt-get -y install git cmake make pkg-config libboost-dev libpng-dev
- sudo apt-get -y install libxi-dev libglu1-mesa-dev x11proto-randr-dev x11proto-xext-dev libxrandr-dev x11proto-xf86vidmode-dev libxxf86vm-dev

install:
- export CURRENT_DIR=$(pwd)
- git clone https://github.com/glfw/glfw.git
- cd glfw
- mkdir build
- cd build
- cmake ../ -DCMAKE_C_COMPILER_ENV_VAR=gcc-4.8
- make
- sudo make install
- cd ${CURRENT_DIR}

before_script:
- export CXX="g++-4.8"

script:
- ./configure
- make
