git:
  submodules: false

# Save common build configurations as shortcuts, so we can reference them later.
addons_shortcuts:
  addons_clang35: &clang35
    apt:
      sources: [ 'ubuntu-toolchain-r-test', 'llvm-toolchain-precise-3.5' ]
      packages: [ 'gdb', 'clang-3.5', 'libstdc++-4.9-dev', 'libstdc++6', 'libllvm3.4', 'xutils-dev',
                  'libxxf86vm-dev', 'x11proto-xf86vidmode-dev', 'mesa-utils' ]
  addons_gcc49: &gcc49
    apt:
      sources: [ 'ubuntu-toolchain-r-test' ]
      packages: [ 'gdb', 'g++-4.9', 'gcc-4.9', 'libllvm3.4', 'xutils-dev',
                  'libxxf86vm-dev', 'x11proto-xf86vidmode-dev', 'mesa-utils' ]
  addons_qt4: &qt4
    apt:
      sources: [ 'ubuntu-toolchain-r-test' ]
      packages: [ 'gdb', 'g++-4.9', 'gcc-4.9', 'mesa-utils', 'qt4-default' ]
  addons_qt5: &qt5
    apt:
      sources: [ 'ubuntu-toolchain-r-test' ]
      packages: [ 'gdb', 'g++-4.9', 'gcc-4.9', 'mesa-utils', 'qt5-default', 'libqt5opengl5-dev', 'qtdeclarative5-dev' ]

env:
  global:
    - TERM: dumb
    - CCACHE: 1
    # AWS
    - secure: "MZHblLZXG/jWf2w0ZFlxCLDwx2qtGgRDODQyg1BR7JIuMz6AtWv8XR/sUczWLbiABCL0a/NzJF1g4v2pI7X69IntcjOdIABBgTh7++6+1TJ0Kp8viEltb55nQG3lHy/R6fOaI7Pj9tuCX0PCRtGA5C/fGnodLGEjy3RVOJ09ln0="
    - secure: "KaSQbhgjtV7ZCkesHmvrNsbQVjk5SPfGKB1VkWenRGYhLF45HpSRNwSxMQddZ566Pg7qIFgF1iWl/B0QW3B6AWL5WmzQ5AOJgwS876pNIc/UT7ubMPtgAtjpvw1bQvQP3B8MrB+3OE5c6tD+a3LhR9krV//dOsfErR5Yy+3Mbkc="
    # Access Token
    - secure: "RiBIBfVhhaMjU5ksuwJO3shdvG9FpinBjdSv4co9jg9171SR8edNriedHjVKSIeBhSGNmZmX+twS3dJS/By6tl/LKh9sTynA+ZAYYljkE7jn881B/gMrlYvdAA6og5KvkhV1/0iJWlhuZrMTkhpDR200iLgg3EWBhWjltzmDW/I="

install:
  - source ./scripts/travis_helper.sh
  - source ./scripts/travis_setup.sh
before_script:
  - ccache --zero-stats
script:
  - make linux
  - make test-linux
after_script:
  - ccache --show-stats
  - ./platform/linux/scripts/after_script.sh ${TRAVIS_JOB_NUMBER} ${TRAVIS_TAG:-}

matrix:
  include:
    # Clang 3.5 - Release - Node
    - os: linux
      sudo: false
      language: node
      compiler: ": node4-clang35-release"
      env: BUILDTYPE=Release _CXX=clang++-3.5 _CC=clang-3.5
      addons: *clang35
      script:
        - nvm install 4
        - nvm use 4
        - make node
        - make test-node
      after_script:
        - ccache --show-stats
        - ./platform/node/scripts/after_script.sh ${TRAVIS_JOB_NUMBER} ${TRAVIS_TAG:-}

    # GCC 4.9 - Debug - Coverage
    - os: linux
      sudo: false
      language: cpp
      compiler: ": linux-gcc49-debug"
      env: BUILDTYPE=Debug _CXX=g++-4.9 _CC=gcc-4.9 ENABLE_COVERAGE=1
      addons: *gcc49
      after_script:
        - ccache --show-stats
        - ./platform/linux/scripts/coveralls.sh

    # GCC 4.9 - Release
    - os: linux
      sudo: false
      language: cpp
      compiler: ": linux-gcc49-release"
      env: BUILDTYPE=Release _CXX=g++-4.9 _CC=gcc-4.9
      addons: *gcc49

    # Clang 3.5 - Debug
    - os: linux
      sudo: false
      language: cpp
      compiler: ": linux-clang35-debug"
      env: BUILDTYPE=Debug _CXX=clang++-3.5 _CC=clang-3.5
      addons: *clang35

    # Clang 3.5 - Release
    - os: linux
      sudo: false
      language: cpp
      compiler: ": linux-clang35-release"
      env: BUILDTYPE=Release _CXX=clang++-3.5 _CC=clang-3.5
      addons: *clang35

    # Qt 4 - Release
    - os: linux
      sudo: false
      language: cpp
      compiler: ": linux-gcc49-release"
      env: FLAVOR=qt4 BUILDTYPE=Release _CXX=g++-4.9 _CC=gcc-4.9
      addons: *qt4
      script:
        - make qt-app test-qt

    # Qt 5 - Release
    - os: linux
      sudo: required
      dist: trusty
      language: cpp
      compiler: ": linux-gcc49-release"
      env: FLAVOR=qt5 BUILDTYPE=Release _CXX=g++-4.9 _CC=gcc-4.9
      addons: *qt5
      before_install:
        - sudo apt-get install -y qtpositioning5-dev
      script:
        - make qt-app qt-qml-app

cache:
  directories:
    - $HOME/.ccache
    - $HOME/.cache/pip
    - $HOME/build/mapbox/mapbox-gl-native/.binaries
    - $HOME/build/mapbox/mapbox-gl-native/.scripts

notifications:
  slack:
    secure: HHQYr7sF8M1SzoWSqgKVYtwAgGdLLCyTMsQjFhEEQNYO92ZwURE5s03qWTGH5k8+4Yqn26yrXt3NztLC4JIOpcGervN2mSZyq4dZgFTcWEd61igw0qwSenlwvFfbE1ASK/KYCzfyn9MIfHN+ovwLoRxXZkPwinKDvl3DXjBaFNg=
