# Gradle files
.gradle/

# IntelliJ files
.idea/
*.iml

# Build files
build/
*.so
*.apk

# Lib assets
MapboxGLAndroidSDK/src/main/assets/

# Local settings
local.properties

# Token file
MapboxGLAndroidSDKTestApp/src/main/res/raw/token.txt

# Twitter Fabric / Crashlytics
fabric.properties
