# Gradle files
.gradle/

# IntelliJ files
.idea/
*.iml

# Build files
build/
.externalNativeBuild
*.so
*.apk

# Local settings
local.properties
gradle/configuration.gradle

# Token file
MapboxGLAndroidSDKTestApp/src/main/res/values/developer-config.xml

# Capture files
captures/

# Generated test cases
MapboxGLAndroidSDKTestApp/src/androidTest/java/com/mapbox/mapboxsdk/testapp/activity/gen/

# Generated list files from code generation
/scripts/generate-style-code.list

# Input files for running render tests
MapboxGLAndroidSDKTestApp/src/main/assets/integration/

