<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapbox.mapboxsdk.testapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MapboxApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/icon"
        android:roundIcon="@drawable/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.FeatureOverviewActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.infowindow.InfoWindowActivity"
            android:description="@string/description_info_window"
            android:label="@string/activity_info_window">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_infowindow" />
        </activity>
        <activity
            android:name=".activity.infowindow.InfoWindowAdapterActivity"
            android:description="@string/description_info_window_adapter"
            android:label="@string/activity_infowindow_adapter">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_infowindow" />
        </activity>
        <activity
            android:name=".activity.infowindow.DynamicInfoWindowAdapterActivity"
            android:description="@string/description_dynamic_info_window_adapter"
            android:label="@string/activity_dynamic_infowindow_adapter">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_infowindow" />
        </activity>
        <activity
            android:name=".activity.annotation.BulkMarkerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:description="@string/description_add_bulk_markers"
            android:label="@string/activity_add_bulk_markers">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_annotation" />
        </activity>
        <activity
            android:name=".activity.annotation.AnimatedMarkerActivity"
            android:description="@string/description_animated_marker"
            android:label="@string/activity_animated_marker">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_annotation" />
        </activity>
        <activity
            android:name=".activity.annotation.DynamicMarkerChangeActivity"
            android:description="@string/description_dynamic_marker"
            android:label="@string/activity_dynamic_marker">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_annotation" />
        </activity>
        <activity
            android:name=".activity.annotation.PressForMarkerActivity"
            android:description="@string/description_press_for_marker"
            android:label="@string/activity_press_for_marker">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_annotation" />
        </activity>
        <activity
            android:name=".activity.camera.CameraAnimationTypeActivity"
            android:description="@string/description_camera_animation_types"
            android:label="@string/activity_camera_animation_types">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_camera" />
        </activity>
        <activity
            android:name=".activity.camera.CameraPositionActivity"
            android:description="@string/description_cameraposition"
            android:label="@string/activity_camera_position">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_camera" />
        </activity>
        <activity
            android:name=".activity.camera.LatLngBoundsActivity"
            android:description="@string/description_visible_bounds"
            android:label="@string/activity_visible_coordinate_bounds"
            android:screenOrientation="portrait">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_camera" />
        </activity>
        <activity
            android:name=".activity.fragment.MapFragmentActivity"
            android:description="@string/description_map_fragment"
            android:label="@string/activity_map_fragment">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_fragment" />
        </activity>
        <activity
            android:name=".activity.fragment.SupportMapFragmentActivity"
            android:description="@string/description_map_fragment_support"
            android:label="@string/activity_map_fragment_suport">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_fragment" />
        </activity>
        <activity
            android:name=".activity.fragment.MultiMapActivity"
            android:description="@string/description_multimap"
            android:label="@string/activity_multimap">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_fragment" />
        </activity>
        <activity
            android:name=".activity.camera.ManualZoomActivity"
            android:description="@string/description_camera_zoom"
            android:label="@string/activity_camera_zoom">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_camera" />
        </activity>
        <activity
            android:name=".activity.camera.MaxMinZoomActivity"
            android:description="@string/description_minmax_zoom"
            android:label="@string/activity_minmax_zoom">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_camera" />
        </activity>
        <activity
            android:name=".activity.customlayer.CustomLayerActivity"
            android:description="@string/description_custom_layer"
            android:label="@string/activity_custom_layer">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_custom_layer" />
        </activity>
        <activity
            android:name=".activity.userlocation.MyLocationTrackingModeActivity"
            android:description="@string/description_user_location_tracking"
            android:label="@string/activity_user_tracking_mode">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_userlocation" />
        </activity>
        <activity
            android:name=".activity.userlocation.MyLocationDrawableActivity"
            android:description="@string/description_user_location_customization"
            android:label="@string/activity_user_tracking_customization">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_userlocation" />
        </activity>
        <activity
            android:name=".activity.userlocation.MyLocationTintActivity"
            android:description="@string/description_user_location_dot_color"
            android:label="@string/activity_user_dot_color">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_userlocation" />
        </activity>
        <activity
            android:name=".activity.userlocation.MyLocationToggleActivity"
            android:description="@string/description_user_location_toggle"
            android:label="@string/activity_user_location_toggle">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_userlocation" />
        </activity>
        <activity
            android:name=".activity.annotation.PolygonActivity"
            android:description="@string/description_polygon"
            android:label="@string/activity_polygon">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_annotation" />
        </activity>
        <activity
            android:name=".activity.annotation.PolylineActivity"
            android:description="@string/description_polyline"
            android:label="@string/activity_polyline">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_annotation" />
        </activity>
        <activity
            android:name=".activity.directions.DirectionsActivity"
            android:description="@string/description_directions"
            android:label="@string/activity_directions">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_directions" />
        </activity>
        <activity
            android:name=".activity.geocoding.GeocoderActivity"
            android:description="@string/description_geocoder"
            android:label="@string/activity_geocoder">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_geocoding" />
        </activity>
        <activity
            android:name=".activity.camera.ScrollByActivity"
            android:description="@string/description_scroll_by"
            android:label="@string/activity_scroll_by">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_camera" />
        </activity>
        <activity
            android:name=".activity.maplayout.MapPaddingActivity"
            android:description="@string/description_map_padding"
            android:label="@string/activity_map_padding"
            android:screenOrientation="portrait">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_maplayout" />
        </activity>
        <activity
            android:name=".activity.maplayout.DebugModeActivity"
            android:description="@string/description_debug_mode"
            android:label="@string/activity_debug_mode">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_maplayout" />
        </activity>
        <activity
            android:name=".activity.offline.OfflineActivity"
            android:description="@string/description_offline"
            android:label="@string/activity_offline">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_offline" />
        </activity>
        <activity
            android:name=".activity.offline.UpdateMetadataActivity"
            android:description="@string/description_update_metadata"
            android:label="@string/activity_update_metadata">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_offline" />
        </activity>
        <activity
            android:name=".activity.imagegenerator.SnapshotActivity"
            android:description="@string/description_snapshot"
            android:label="@string/activity_snapshot">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_imagegenerator" />
        </activity>
        <activity
            android:name=".activity.maplayout.DoubleMapActivity"
            android:description="@string/description_doublemap"
            android:label="@string/activity_double_map">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_maplayout" />
        </activity>
        <activity
            android:name=".activity.annotation.MarkerViewActivity"
            android:description="@string/description_view_marker"
            android:label="@string/activity_view_marker">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_annotation" />
        </activity>
        <activity
            android:name=".activity.annotation.MarkerViewScaleActivity"
            android:description="@string/description_view_marker_scale"
            android:label="@string/activity_view_marker_scale">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_annotation" />
        </activity>
        <activity
            android:name=".activity.navigation.LocationPickerActivity"
            android:description="@string/description_location_picker"
            android:label="@string/activity_location_picker">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_navigation" />
        </activity>
        <activity
            android:name=".activity.fragment.ViewPagerActivity"
            android:description="@string/description_viewpager"
            android:label="@string/activity_viewpager">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_fragment" />
        </activity>
        <activity
            android:name=".activity.maplayout.NavigationDrawerActivity"
            android:description="@string/description_navigation_drawer"
            android:label="@string/activity_navigation_drawer"
            android:theme="@style/AppTheme.ActionBar.Transparent">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_fragment" />
        </activity>
        <activity
            android:name=".activity.maplayout.SimpleMapActivity"
            android:description="@string/description_simple_map"
            android:label="@string/activity_simple_map">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_maplayout" />
        </activity>
        <activity
            android:name=".activity.style.RuntimeStyleActivity"
            android:description="@string/description_runtime_style"
            android:label="@string/activity_runtime_style">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_style" />
        </activity>
        <activity
            android:name=".activity.style.CircleLayerActivity"
            android:description="@string/description_circle"
            android:label="@string/activity_circle">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_style"/>
        </activity>
        <activity
            android:name=".activity.style.SymbolLayerActivity"
            android:description="@string/description_symbol_layer"
            android:label="@string/activity_symbol_layer">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_style"/>
        </activity>
        <activity
            android:name=".activity.style.GeoJsonClusteringActivity"
            android:description="@string/description_geojson_clustering"
            android:label="@string/activity_geojson_clustering">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_style" />
        </activity>
        <activity android:name=".activity.style.RealTimeGeoJsonActivity"
            android:description="@string/description_geojson_realtime"
            android:label="@string/activity_geojson_realtime">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_style" />
        </activity>
        <activity
            android:name=".activity.style.StyleFileActivity"
            android:description="@string/description_style_file"
            android:label="@string/activity_style_file">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_style" />
        </activity>
        <activity
            android:name=".activity.style.CustomSpriteActivity"
            android:description="@string/description_custom_sprite"
            android:label="@string/activity_add_sprite">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_style" />
        </activity>
        <activity
            android:name=".activity.imagegenerator.PrintActivity"
            android:description="@string/description_print"
            android:label="@string/activity_print">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_imagegenerator" />
        </activity>

        <!-- Features -->
        <activity
            android:name=".activity.feature.QueryRenderedFeaturesPropertiesActivity"
            android:description="@string/description_query_rendered_feature_properties_point"
            android:label="@string/activity_query_rendered_feature_properties">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_features" />
        </activity>
        <activity
            android:name=".activity.feature.QueryRenderedFeaturesBoxCountActivity"
            android:description="@string/description_query_rendered_features_box_count"
            android:label="@string/activity_query_rendered_features_box_count">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_features" />
        </activity>
        <activity
            android:name=".activity.feature.QueryRenderedFeaturesBoxSymbolCountActivity"
            android:description="@string/description_query_rendered_features_box_symbol_count"
            android:label="@string/activity_query_rendered_features_box_symbol_count">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_features" />
        </activity>
        <activity
            android:name=".activity.feature.QueryRenderedFeaturesBoxHighlightActivity"
            android:description="@string/description_query_rendered_features_box_highlight"
            android:label="@string/activity_query_rendered_features_box_highlight">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_features" />
        </activity>
        <activity
            android:name=".activity.navigation.CarDrivingActivity"
            android:description="@string/description_car_driving"
            android:label="@string/activity_car_driving">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_navigation" />
        </activity>
        <activity
            android:name=".activity.annotation.AddRemoveMarkerActivity"
            android:description="@string/description_add_remove_markers"
            android:label="@string/activity_add_remove_markers">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_annotation" />
        </activity>
        <activity
            android:name=".activity.maplayout.MapInDialogActivity"
            android:description="@string/description_map_in_dialog"
            android:label="@string/activity_map_in_dialog">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_maplayout" />
        </activity>
        <activity
            android:name=".activity.annotation.MarkerViewsInRectangleActivity"
            android:description="@string/description_marker_view_rectangle"
            android:label="@string/activity_marker_view_rectangle">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_annotation" />
        </activity>

        <!-- For Instrumentation tests -->
        <activity android:name=".activity.style.RuntimeStyleTestActivity" />
        <activity android:name=".activity.style.RuntimeStyleTimingTestActivity" />
        <activity android:name=".activity.espresso.EspressoTestActivity" />

        <!-- Configuration Settings -->
        <meta-data
            android:name="com.mapbox.TestEventsServer"
            android:value="https://cloudfront-staging.tilestream.net" />
        <meta-data
            android:name="com.mapbox.TestEventsAccessToken"
            android:value="pk.eyJ1IjoiYmxzdGFnaW5nIiwiYSI6ImNpdDF3OHpoaTAwMDcyeXA5Y3Z0Nmk2dzEifQ.0IfB7v5Qbm2MGVYt8Kb8fg" />

        <!-- Comment out this setting to switch to external storage (and disable internal) in your app -->
        <!-- <meta-data -->
        <!-- android:name="com.mapbox.SetStorageExternal" -->
        <!-- android:value="true" /> -->

        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />
    </application>

</manifest>